# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://luvpxxulpvqztcqrgitu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1dnB4eHVscHZxenRjcXJnaXR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIzMzIxOTcsImV4cCI6MjA2NzkwODE5N30.TIFDlKj_xR6ec9smuj3r6CL5wibDxg1u8nwvEM_eRIQ

# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=MMy73LryhmLhEo-0z
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_yoj98ua
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_ebzwv3n
